
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->

<!--Scripts to run on all pages-->

<script src="/bootstrap/js/bootstrap.min.js" ></script>
<script src="/chosen/chosen.jquery.js" ></script>
<script src="/public/js/inputmask.js"></script>
<script src="/public/js/scripts.js"></script>
<script src="/public/js/jquery.validate.min.js"></script>
    </body>
</html>