<!DOCTYPE html>
<html>
    <head>
        <title>Utah Smoke Management</title>
        
       
        
        <!--trying bootstrap 4 as opposed to 3-->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
        
        <!--moment not running even when this is uncommented?-->
        <!--<script src="moment.js"></script>-->
        <!--<script>-->
        <!--moment().format();-->
        <!--</script>-->
        
        
    
    
    
    </head>
    <body>
    
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Utah Smoke</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Logged in as </a>
          </li><li class="nav-item">
            <a class="nav-link" href="/">Log in/out </a>
          </li><li class="nav-item">
            <a class="nav-link" href="/">Map </a>
          </li><li class="nav-item">
            <a class="nav-link" href="/">Reports </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Burn Forms </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        
      </div>
    </nav>
