<!DOCTYPE html>
<html>
    <head>
        <title>Utah Smoke Management</title>
        <!--trying bootstrap 4 as opposed to 3-->
<!--         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/chosen.css">
        <script>
          $( function() {
            $( "#datepicker" ).datepicker();
          } );
        </script>
    </head>
    <body>
    
    <nav class="navbar navbar-expand-md navbar-dark sticky-top mb-5 bg-dark">
      <a class="navbar-brand" href="/">Utah Smoke</a>
      
      <div class="navbar-nav ml-auto flex-column flex-md-row">
        
        <a class="nav-link" href="/login">Log in</a>
        <a class="nav-link" href="/">Map </a>
        <a class="nav-link" href="/">Burn Forms </a>
        <a class="nav-link" href="/logout">Log out</a>
        <a class="nav-link" href="/profile">Profile </a>
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        
      </div>
    </nav>
