<% include partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-offset-3">
                <h1>Register a New Burn Project</h1>
                <form method="post" action="/burn_projects">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            
                             <div class="form-group">
                                <label for="project_number">Project number: </label>
                                <input type="text" id="project_number" class="form-control" name="project_number">
                            </div>
                            
                            <div class="form-group">
                                <label for="project_name">Project name: </label>
                                <input type="text" id="project_name" class="form-control" name="project_name">
                            </div>
                            
                            <div class="form-group">
                                <label for="project_acres">Acres: </label>
                                <input type="number" id="project_acres" class="form-control" name="project_acres">
                            </div>
                            
                            <!--<div class="form-group">-->
                            <!--    <label for="de_minimis">This project (or a portion) is potentially de minimis </label>-->
                            <!--    <input type="checkbox" id="de_minimis" class="form-control" name="de_minimis">-->
                            <!--</div>-->
                            
                            <!--<div class="form-group">-->
                            <!--    <label for="major_fbps_fuel">Fuel Model: </label>-->
                            <!--    <input type="number" id="project_acres" class="form-control" name="project_acres">-->
                            <!--</div>-->
                            
                            <!--  <div class="form-group">-->
                            <!--    <label for="ignition_method">Ignition Method: </label>-->
                            <!--    <input type="number" id="ignition_method" class="form-control" name="ignition_method">-->
                            <!--</div>-->
                            
                            <div class="form-group">
                                <label for="first_burn">Expected start date: </label>
                                <input type="date" id="first_burn" class="form-control" name="first_burn">
                            </div>
                            
                            <div class="form-group">
                                <label for="duration">Expected number of burn days: </label>
                                <input type="number" id="duration" class="form-control" name="duration">
                            </div>
                            
                            
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <div>
                                    <button type="button" class="btn btn-warning">Save as draft</button>
                                </div>
                                <button type="button" class="btn btn-danger">Cancel</button>
                                
                                    <!--<a class="btn btn-danger" href="/burn_projects" role="button">Cancel</a>-->
                                    <!--<a class="btn btn-warning" href="/burn_projects" role="button">Save a draft</a>-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<% include partials/footer %>