<% include partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-offset-3">
                <h1>Register a New Burn Project</h1>
                <form method="post" action="/burn_projects">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            
                    
                            
                            <div class="form-group">
                                <label for="project_name">Project name: </label>
                                <input type="text" id="project_name" class="form-control" name="project_name">
                            </div>
                            
                            <div class="form-group">
                                <label for="project_acres">Acres: </label>
                                <input type="number" id="project_acres" class="form-control" name="project_acres">
                            </div>
                            
                            <div class="form-group">
                                <label for="agency">Agency </label>
                                <input type="number" id="agency" class="form-control" name="agency_id">
                            </div>
                            
                            <div class="form-group">
                                <label for="submitted_by">Your id </label>
                                <input type="number" id="submitted_by" class="form-control" name="submitted_by">
                            </div>
                            
                            <div class="form-group">
                                <label for="county">County </label>
                                <input type="number" id="county" class="form-control" name="county_id">
                            </div>
                            
                            <div class="form-group">
                                <label for="elevation_low">Lowest Elevation: </label>
                                <input type="number" id="elevation_low" class="form-control" name="elevation_low">
                            </div>
                            
                             <div class="form-group">
                                <label for="elevation_high">Highest Elevation: </label>
                                <input type="number" id="elevation_high" class="form-control" name="elevation_high">
                            </div>
                            
                            <div class="form-group">
                                <label for="duration">Expected number of burn days: </label>
                                <input type="number" id="duration" class="form-control" name="duration">
                            </div>
                            
                            <div class="form-group">
                                <label for="major_fbps_fuel">Fuel Model: </label>
                                <input type="number" id="fuel_model" class="form-control" name="major_fbps_fuel">
                            </div>
                            
                            
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <div>
                                    <button type="button" class="btn btn-warning">Save as draft</button>
                                </div>
                                <button type="button" class="btn btn-danger">Cancel</button>
                                
                                    <!--<a class="btn btn-danger" href="/burn_projects" role="button">Cancel</a>-->
                                    <!--<a class="btn btn-warning" href="/burn_projects" role="button">Save a draft</a>-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<% include partials/footer %>