<% include partials/header %>

<H1>Burn Registration Page</H1>
<% var total = burns.length %>
<a href="\">Home</a><br>
<p>There are <%=total%> burn projects in the system</p>

<a href="\burn_project_form">Register New Burn</a>
<br>
<br>

<% burns.forEach(function(burn){ %>
    <li>
        <%= burn.name%> - <%= burn.project_acres %> acres - <%=burn.submitted_by%>
    </li>
<% }) %>

<% include partials/footer %>