<% include partials/header %>
<div class="jumbotron" id="mainPage">
  <div class="container main-fill">
    
    <H2 class="mb-5">Welcome</H2>

    <a href="\projects" class="btn btn-outline-primary btn-lg">Register Burn Project</a><br><br>

    <a href="\requests" class="btn btn-outline-success btn-lg">Request a Burn Window</a><br><br>

    <a href="\reports" class="btn btn-outline-dark btn-lg">Daily Emissions Report</a><br><br>

    <a href="\" class="btn btn-outline-info btn-lg">Program Information</a><br><br>
    
    <a href="\map" class="btn btn-outline-danger btn-lg">Map</a><br><br>

  </div>
</div>


<% include partials/footer %>
