<% include partials/header %>
<div class="jumbotron">
    
<H2>Home - Utah Smoke Management System</H2>

<a href="\projects">Register Burn Project</a><br><br>

<a href="\requests">Request a Burn Window</a><br><br>

<a href="\reports">Daily Emissions Report</a><br><br>


</div>

<% include partials/footer %>