<% include partials/header %>
<div class="jumbotron" id="mainPage">
  <div class="container main-fill">
    
    <H2 class="mb-5">Welcome</H2>

    <a href="\projects" class="btn btn-outline-primary btn-lg">Burn Projects</a><br><br>

    <a href="\requests" class="btn btn-outline-success btn-lg">Burn Window Requests</a><br><br>

    <a href="\reports" class="btn btn-outline-dark btn-lg">Emissions Reports</a><br><br>

    <a href="\" class="btn btn-outline-info btn-lg">Program Information</a><br><br>
    
    <a href="\map" class="btn btn-outline-danger btn-lg">Wind Map</a><br><br>
      
    <a href="\map2" class="btn btn-outline-danger btn-lg">Project List Map</a><br><br>
   
    <a href="\map3" class="btn btn-outline-danger btn-lg">Point Select Map</a><br><br>
    
    <a href="\map4" class="btn btn-outline-danger btn-lg">Point Zoom Map</a><br><br>
    
    
  </div>
</div>

<% include partials/footer %>
