<% include ../partials/mapheader %>

<div id='map'></div>

<!-- this line allows the script "/maps/projects.js" to access the mapPoints location object-->
<script>
var geoJSON = <%-JSON.stringify(mapPoints)%>;
</script> 

<script src ="/public/js/maps/projects.js"></script>

<% include ../partials/footer %>