<% include ../partials/header %>
<div class="jumbotron" id="mainPage">
  <div class="container main-fill">
    
   
    
    <a href="\maps\map1" class="btn btn-outline-danger btn-lg">Wind Vector</a><br><br>
      
    <a href="\maps\map2" class="btn btn-outline-danger btn-lg">Project Popups</a><br><br>
       <a href="\maps\map4" class="btn btn-outline-danger btn-lg">Project Zoom</a><br><br>
    <a href="\maps\map3" class="btn btn-outline-danger btn-lg">Draggable Marker</a><br><br>
    

    
      <a href="\maps\map5" class="btn btn-outline-danger btn-lg">Clickable Lat/Long</a><br><br>
    
    
  </div>
</div>

<% include ../partials/footer %>
